$docs-font-basic: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
$docs-font-script: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
$docs-font-sun: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;

html, body {
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	line-height: 1.5em;
	height: 100%;
	font-family: $docs-font-basic;
	background: #f3f3f3;
}

$docs-menu-height: 200px;
$docs-theme-earth: #fbff41;

.docs-body {
	box-sizing: border-box;
	padding: 10px 20px;
	padding-bottom: $docs-menu-height + 50;
	min-height: 90%;
	width: 90%;
	min-width: 600px;
	max-width: 960px;
	margin: 0 auto;
	//margin-top: 20px;
	//border-top: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	background: #fff;
	box-shadow: 1px 0px 3px #ccc;
	//border-radius: 13px;

	overflow: visible;

	h1, h2, h3, h4, h5 {
		margin: 0.3em 0;
		font-family: $docs-font-sun;
	}
	p {
		margin: 0.7em 0;
		font-family: $docs-font-script;
	}
}

.ax5docs-section{
	margin: 2em 0;
}
