$ax5grid-bg: #fff !default;


//** Border color for elements within dialog
$ax5grid-default-text: $panel-default-text !default;
$ax5grid-default-border-color: $panel-default-border !default;
$ax5grid-default-heading-bg: $panel-default-heading-bg !default;

$ax5grid-primary-text: $panel-primary-text !default;
$ax5grid-primary-border-color: $panel-primary-border !default;
$ax5grid-primary-heading-bg: $panel-primary-heading-bg !default;

$ax5grid-success-text: $panel-success-text !default;
$ax5grid-success-border-color: $panel-success-border !default;
$ax5grid-success-heading-bg: $panel-success-heading-bg !default;

$ax5grid-info-text: $panel-info-text !default;
$ax5grid-info-border-color: $panel-info-border !default;
$ax5grid-info-heading-bg: $panel-info-heading-bg !default;

$ax5grid-warning-text: $panel-warning-text !default;
$ax5grid-warning-border-color: $panel-warning-border !default;
$ax5grid-warning-heading-bg: $panel-warning-heading-bg !default;

$ax5grid-danger-text: $panel-danger-text !default;
$ax5grid-danger-border-color: $panel-danger-border !default;
$ax5grid-danger-heading-bg: $panel-danger-heading-bg !default;