// mixins
@mixin gridPanel($container) {
    [data-ax5grid-panel] {
        position: absolute;
        overflow: hidden;

        table {
            table-layout: fixed;
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            @if ($container == "header") {
                height: 100%;
            }
            tr {
                border-bottom: 0px none;

                &.tr-0{}
                &.tr-1{
                    background: #f3f3f3;
                }
                &.tr-2{}
                &.tr-3{
                    background: #f3f3f3;
                }
            }
            td {
                box-sizing: border-box;
                overflow: hidden;
                position: relative;
                padding: 0px;
                font-size: 10px;
                &.hasBorder{
                    border-right: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                }
                &[data-ax5grid-column-row="null"]{
                    border-right: 0px none;
                }
                [data-ax5grid-cellHolder] {
                    // 그리드 셀표현 : 그리드의 컬럼텍스트가 여기에 출력됨
                    display: block;
                    box-sizing: border-box;
                    padding: 3px;
                    font-size: 12px;

                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    @if ($container == "header") {
                        text-align: center;
                    }

                    &[data-ax5grid-cellHolder="multiLine"] {
                        white-space: normal;
                    }
                }
            }
        }
    }
}

// body
[data-ax5grid] {
    [data-ax5grid-container="root"] {
        position: relative;
        border: 1px solid #ccc;
        [data-ax5grid-container="header"] {
            position: relative;
            overflow: hidden;
            background: #eee;
            border-bottom: 1px solid #ccc;
            @include gridPanel("header");
        }

        [data-ax5grid-container="body"] {
            position: relative;
            overflow: hidden;
            @include gridPanel("body");
        }

    }
}