// mixins
@mixin gridBoxModal() {
    margin: 0;
    padding: 0;
}

@mixin gridColumn($container) {

    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    padding: 0;
    font-size: 10px;
    border: 0 none;

    &.hasBorder {
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    &.isLastColumn {

    }
    &.lineNumberColumn {

    }

    @if ($container == "header") {
        cursor: pointer;
        box-shadow: inset 1px 1px 0px 0px #fff;
        &:hover {
            background: #eee;
        }
        &[data-ax5grid-column-row="null"] {
            box-shadow: none;
        }
    }

    &[data-ax5grid-column-row="null"] {
        border-right: 0 none;
    }

    &[data-ax5grid-column-selected] {
        background: #b1d7fe;
        border-color: #ccc;
        color: #000;
    }

    &[data-ax5grid-column-focused] {
        box-shadow: inset 0px 0px 1px 1px #0581f2;
        background: lighten(#b1d7fe, 10%);
        color: #000;
    }

    &[data-ax5grid-column-attr="rowSelector"] {
        cursor: pointer;
        [data-ax5grid-cellHolder] {
            padding: 5px;
        }
        //todo : checkBox CSS 구현
        .checkBox {
            $ax5grid-row-selector-checkbox-size: 8px;
            $ax5grid-row-selector-size: 10px;
            display: block;
            position: relative;
            border: 1px solid #ccc;
            border-radius: 3px;
            @include ax-background(top, #FFFFFF, #F0F0F0);
            height: 100%;
            &:after {
                content: '';
                width: 60%;
                height: 40%;
                position: absolute;
                top: 20%;
                right: 20%;
                border: 0.2em solid #000;
                border-top: none;
                border-right: none;
                background: transparent;
                opacity: 0.0;
                @include transform(rotate(-50deg));
            }
        }
    }

    &[data-ax5grid-column-attr="lineNumber"] {
    }

    [data-ax5grid-cellHolder] {
        // 그리드 셀표현 : 그리드의 컬럼텍스트가 여기에 출력됨
        display: block;
        box-sizing: border-box;
        padding: 3px;
        font-size: 12px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @if ($container == "header") {
            //text-align: center;
        }

        &[data-ax5grid-text-align="left"] {
            text-align: left;
        }
        &[data-ax5grid-text-align="center"] {
            text-align: center;
        }
        &[data-ax5grid-text-align="right"] {
            text-align: right;
        }
        &[data-ax5grid-cellHolder="multiLine"] {
            white-space: normal;
        }

        input[data-ax5grid-editor] {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 0px none;
            background: #fff;
        }
        select[data-ax5grid-editor] {
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 0px none;
            background: #fff;
        }

        [data-ax5grid-editor="checkbox"] {
            $ax5grid-row-selector-checkbox-size: 8px;
            $ax5grid-row-selector-size: 10px;
            display: inline-block;
            position: relative;
            border: 1px solid #ccc;
            border-radius: 3px;
            @include ax-background(top, #FFFFFF, #F0F0F0);
            height: 100%;
            &:after {
                content: '';
                width: 60%;
                height: 40%;
                position: absolute;
                top: 20%;
                right: 20%;
                border: 0.2em solid #000;
                border-top: none;
                border-right: none;
                background: transparent;
                opacity: 0.0;
                @include transform(rotate(-50deg));
            }
            &[data-ax5grid-checked="true"]{
                &:after{
                    opacity: 1.0;
                }
            }
        }

    }
}

@mixin gridRowBackground() {
    &.tr-0 {
        background: #f3f3f3;
    }
    &.tr-1 {

    }
    &.tr-2 {
        background: #f3f3f3;
    }
    &.tr-3 {

    }
    &.hover {
        background: lighten(#cce2f3, 5%);
    }
    &[data-ax5grid-grouping-tr="true"] {
        background: #ffffe7;
    }
    &[data-ax5grid-selected="true"] {
        background: lighten(#b1d7fe, 10%);
        td {
            //color: #fff;
            //box-shadow: inset 1px 1px 0px 0px #fff;
            &[data-ax5grid-column-attr="rowSelector"],
            &[data-ax5grid-column-attr="lineNumber"] {
                box-shadow: none;
            }
            &[data-ax5grid-column-attr="rowSelector"] {
                .checkBox {
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@mixin gridPanel($container) {
    [data-ax5grid-panel] {
        @include gridBoxModal();
        position: absolute;
        overflow: hidden;

        table {
            table-layout: fixed;
            border-collapse: separate;
            border-spacing: 0;
            border: 0 none;
            width: 100%;
            @if ($container == "header") {
                height: 100%;
            }
            tr {
                border-bottom: 0 none;
                @include gridRowBackground();
                td {
                    @include gridColumn($container);
                }
            }
        }

        &[data-ax5grid-panel="aside-header"] {
            border-right: 1px solid darken(#ccc, 0%);
            table {
                tr {
                    td {
                        text-align: center;
                    }
                }
            }
        }
        &[data-ax5grid-panel="top-aside-body"],
        &[data-ax5grid-panel="aside-body"],
        &[data-ax5grid-panel="bottom-aside-body"] {
            border-right: 1px solid darken(#ccc, 0%);
            background: #f2f2f2;
            table {
                tr {
                    td {
                        text-align: center;
                        box-shadow: inset 1px 1px 0px 0px #fff;
                    }
                }
            }
        }

        &[data-ax5grid-panel="left-header"],
        &[data-ax5grid-panel="top-left-body"],
        &[data-ax5grid-panel="left-body"],
        &[data-ax5grid-panel="bottom-left-body"] {
            border-right: 1px solid darken(#ccc, 5%); /// frozen Line color
        }

        &[data-ax5grid-panel="top-aside-body"],
        &[data-ax5grid-panel="top-left-body"],
        &[data-ax5grid-panel="top-body"],
        &[data-ax5grid-panel="top-right-body"] {
            border-bottom: 1px solid darken(#ccc, 5%); /// frozen Line color
        }

        &[data-ax5grid-panel="bottom-aside-body"],
        &[data-ax5grid-panel="bottom-left-body"],
        &[data-ax5grid-panel="bottom-body"],
        &[data-ax5grid-panel="bottom-right-body"] {
            border-top: 1px solid darken(#ccc, 5%); /// footSum Line color
        }

        &[data-ax5grid-panel="bottom-aside-body"],
        &[data-ax5grid-panel="bottom-left-body"],
        &[data-ax5grid-panel="bottom-body"],
        &[data-ax5grid-panel="bottom-right-body"] {
            background: #ffe7e2;
        }

        [data-ax5grid-panel-scroll] {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

@mixin scrollBar($type) {
    position: absolute;
    top: 0;
    left: 0;
    @include border-top-radius(10px);
    @include border-bottom-radius(10px);
    background: #000;
    opacity: 0.2;

    @if ($type == "vertical-bar") {
        cursor: ns-resize;
    } @else {
        cursor: ew-resize;
    }

    &:hover {
        opacity: 0.3;
    }
}

@mixin resizer($type: "horizontal") {
    display: none;
    &.live {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #ff3300;
        opacity: 0.5;

        @if ($type == "vertical") {
            height: 2px;
            width: 100%;
            cursor: row-resize;
        } @else {
            height: 100%;
            width: 2px;
            cursor: col-resize;
        }

    }
}

// body
[data-ax5grid] {
    [data-ax5grid-container="root"] {
        @include gridBoxModal();
        position: relative;
        border: 1px solid #ccc;
        overflow: hidden;

        [data-ax5grid-container="hidden"] {
            @include gridBoxModal();
            position: absolute;
            //z-index: 100;
            left: -100%;
            top: -100%;
            height: 100%;
            width: 100%;
        }

        [data-ax5grid-container="header"] {
            @include user-select(none);
            @include gridBoxModal();
            position: relative;
            overflow: hidden;
            @include ax-background(top, #FFFFFF, #F0F0F0);
            border: 0px none;
            border-bottom: 1px solid #ccc;
            @include gridPanel("header");

            [data-ax5grid-column-resizer] {
                position: absolute;
                right: 0;
                top: 0;
                width: 4px;
                height: 100%;
                cursor: col-resize;
                &:hover {
                    background: #ff3300;
                    opacity: 0.5;
                }
            }
            [data-ax5grid-column-sort] {
                $sort-size: 10px;

                position: relative;
                //right: 0;
                //top: 2px;
                width: 10px;
                height: 10px;
                display: inline-block;

                @mixin sort-arrow($arrow-size, $ratio-0, $ratio-1, $arrow-color, $opacity, $direction) {
                    position: absolute;
                    content: ' ';
                    width: 0;
                    height: 0;
                    display: inline-block;
                    border-left: $arrow-size/$ratio-0 solid transparent;
                    border-right: $arrow-size/$ratio-0 solid transparent;
                    @if ($direction == "up") {
                        border-bottom: ($arrow-size)/$ratio-1 solid $arrow-color;
                    } @else {
                        border-top: ($arrow-size)/2.2 solid $arrow-color;
                    }
                    background: transparent;
                    opacity: $opacity;
                }

                &:before {
                    top: 0;
                    left: 0;
                    @include sort-arrow(10px, 2.5, 2.2, #000, 0.3, "up");
                }
                &:after {
                    bottom: 0;
                    left: 0;
                    @include sort-arrow(10px, 2.5, 2.2, #000, 0.3, "down");
                }

                &[data-ax5grid-column-sort-order="asc"] {
                    &:before {
                        top: 2px;
                        left: 0;
                        @include sort-arrow(12px, 2.5, 2.0, #000, 0.8, "up");
                    }
                    &:after {
                        display: none;
                    }
                }
                &[data-ax5grid-column-sort-order="desc"] {
                    &:before {
                        display: none;
                    }
                    &:after {
                        bottom: 2px;
                        left: 0;
                        @include sort-arrow(12px, 2.5, 2.0, #000, 0.8, "down");
                    }
                }

            }
            [data-ax5grid-column-filter] {
                $filter-size: 10px;

                position: absolute;
                left: 0;
                top: 0;
                width: 10px;
                height: 10px;
                cursor: pointer;

                &:before {
                    content: ' ';
                    width: 0;
                    height: 0;
                    display: inline-block;
                    border-left: $filter-size/2 solid transparent;
                    border-right: $filter-size/2 solid transparent;
                    border-top: ($filter-size) solid #000;
                    background: transparent;
                    opacity: 1;
                }

            }
        }

        [data-ax5grid-container="body"] {
            @include gridBoxModal();
            position: relative;
            overflow: hidden;
            @include gridPanel("body");
        }

        [data-ax5grid-container="page"] {
            @include gridBoxModal();
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            @include ax-background(top, #FFFFFF, #F0F0F0);
            border: 0px none;
            border-top: 1px solid #ccc;

            [data-ax5grid-page="holder"] {
                @include gridBoxModal();
                display: table;
                //table-layout: fixed;
                width: 100%;
                height: 100%;
                [data-ax5grid-page="navigation"] {
                    @include gridBoxModal();
                    display: table-cell;
                    vertical-align: middle;
                    text-align: left;
                    padding-left: 5px;
                    font-size: 12px;

                    [data-ax5grid-page-navigation="holder"] {
                        display: table;
                        [data-ax5grid-page-navigation="cell"], [data-ax5grid-page-navigation="cell-paging"] {
                            display: table-cell;
                            vertical-align: middle;
                        }
                        [data-ax5grid-page-navigation="cell-paging"] {
                            padding: 0 5px;
                        }

                        [data-ax5grid-page-move] {
                            box-sizing: border-box;
                            min-width: 20px;
                            //height: 20px;
                            border-radius: 5px;
                            padding: 1px;
                            border: 0px none;
                            background: transparent;
                            font-size: 11px;
                            outline: 0;

                            &[data-ax5grid-page-selected="true"], &:active {
                                background-color: #888;
                                //border: 1px solid #888;
                                color: #fff;
                                //font-size: 12px;
                                //font-weight: bold;
                            }
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                }
                [data-ax5grid-page="status"] {
                    @include gridBoxModal();
                    display: table-cell;
                    text-align: right;
                    vertical-align: middle;
                    padding-right: 5px;
                    font-size: 12px;
                }
            }
        }

        [data-ax5grid-container="scroller"] {
            @include gridBoxModal();
            position: absolute;
            right: 0px;
            bottom: 0px;

            $scroller-size: 15px;
            [data-ax5grid-scroller="vertical"] {
                box-sizing: border-box;
                position: absolute;
                display: none;
                right: 0;
                bottom: 0;
                width: $scroller-size;
                height: 100%;
                background: #fff;
                border-left: 1px solid #ccc;

                [data-ax5grid-scroller="vertical-bar"] {
                    @include scrollBar("vertical-bar");
                }
            }
            [data-ax5grid-scroller="horizontal"] {
                box-sizing: border-box;
                position: absolute;
                display: none;
                right: 0;
                bottom: 0;
                height: $scroller-size;
                width: 100%;
                background: #fff;
                border-top: 1px solid #ccc;

                [data-ax5grid-scroller="horizontal-bar"] {
                    @include scrollBar("horizontal-bar");
                }
            }
            [data-ax5grid-scroller="corner"] {
                position: absolute;
                display: none;
                right: 0px;
                bottom: 0px;
                width: $scroller-size;
                height: $scroller-size;

                background: #EAEDEF;
                border-top: 1px solid #ccc;
                border-left: 1px solid #ccc;
            }
        }

        [data-ax5grid-resizer="horizontal"] {
            @include resizer("horizontal");
        }
        [data-ax5grid-resizer="vertical"] {
            @include resizer("vertical");
        }
    }
}