.docs-body{
	position: relative;
	padding-top: $docs-visual-height;

	.docs-body-visual{
		z-index: 1;
		position: absolute;
		left:0px;
		top:0px;
		width: 100%;
		height: $docs-visual-height;

		//background-image: linear-gradient(, #82AA16 0%, #3D8EB9 100%);
		@include gradient-directional(#82AA16, #3D8EB9, 269deg);
		.pattern{
			height: 100%;
			background-image: url("images/ax-bg-pattern.png");
			background-size: 152px;
			@include opacity(0.1);
		}
	}

	.wrapper{
		box-sizing: border-box;
		max-width: $break-desktop-width;
		margin: 0 auto;
		padding: 20px 5px;
	}

	.ax5docs-section{
		margin: 2em 0;
	}
	blockquote {
		background: #f9f9f9;
		border-left: 10px solid #ccc;
		margin: 1.5em 10px;
		padding: 0.5em 10px;
		quotes: "\201C""\201D""\2018""\2019";

		p {
			display: inline;
		}
	}
}

// class="docs-body style-sub"
.style-sub{
	.docs-body {
		padding-top: $docs-visual-sm-height;
		.docs-body-visual {
			height: $docs-visual-sm-height;
		}
	}
}