.docs-body {
	z-index: $zindex-body;
	position: relative;
	margin-top: $docs-visual-height;
	background: #fff;

	.wrapper {
		position: relative;
		box-sizing: border-box;
		max-width: $break-desktop-width;
		margin: 0 auto;
		padding: 20px 5px;
	}

	.ax5docs-section {
		margin: 2em 0;
	}

	.docs-menu{
		display: none;
	}
}

&.sub-page {
	.docs-body {
		margin-top: $docs-visual-sm-height;
	}
	&.with-inline-menu, &.with-menu {
		.docs-body {

			margin-top: $docs-visual-sm-height;
			.wrapper{
				//padding-left: $docs-sub-page-menu-width;
			}
			.docs-menu{
				display: block;
				/*
				position: absolute;
				left:0px;
				top: 0px;
				padding: 30px 0px;
				*/
				width: $docs-sub-page-menu-width - 40;

				&.fixed{
					position: fixed;
					top: $docs-header-tool-height + 20;
					&.fixed-bottom{
						position: absolute;

					}
				}

				> ul{
					display: block;
					padding: 0px;
					> li{
						display: block;
						font-size: 16px;
						color: #A1A1A1;
						line-height: 30px;
						list-style: none;
						a{
							display: block;
							color: inherit;
							&:hover{
								color: #6FAFE0;
								text-decoration: none;
							}
						}
					}
					> ul {
						display: block;
						margin: 5px 0px;
						padding: 0px;
						border-left: 2px solid #D8D8D8;
						> li{
							display: block;
							font-size: 14px;
							color: #A1A1A1;
							line-height: 24px;
							list-style: none;
							a{
								/* Rectangle 6: */
								display: block;
								height: 28px;
								line-height: 28px;
								color: #A1A1A1;
								padding: 0px 10px;
								&:hover{
									background: #F1F1F1;
									color: #A9D438;
									text-decoration: none;
								}
							}
						}
					}
				}
			}
		}
	}
}