
//=================

.docs-header{
	z-index: $zindex-header;
	position: fixed;
	width:100%;
	top:0px;
	left: 0;

	.docs-header-tool{
		z-index: 10;
		position: absolute;
		left:0px;
		top:0px;

		background: rgba(255,255,255,0.1);
		width: 100%;
		height: $docs-header-tool-height;
		margin: 0;
		border: 0px none;

		.navbar{
			max-width: $break-desktop-width;
			margin: 0 auto;
			border: 0px none;
			background: none;

			.navbar-brand{
				height: $docs-header-tool-height;
				position: relative;
				color: #fff;
				text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
				font-family: $docs-font-family-visual;
				i{
					font-size: 36px;
					line-height: $docs-header-tool-height;
					display: block;
					position: absolute;
					left: 20px; top: 0px;
				}
				font-size: 30px;
				line-height: $docs-header-tool-height;
				padding: 0px;
				padding-left: 58px;
				font-weight: 300;
				vertical-align: middle;
				margin-right: 50px;
				.small{
					display: inline-block;
					font-size: 70%;
					line-height: $docs-header-tool-height;
					font-weight: 400;
					vertical-align: top;
				}
			}
			.mobile-menu{
				height: $docs-header-tool-height;
				line-height: $docs-header-tool-height;
				color: #fff;
				font-size: 30px;
				font-weight: 500;
				text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

				display: block;
				position: absolute;
				right: 5px;
				top:0px;
				width: $docs-header-tool-height;
				text-align: center;
				&:hover{
					text-decoration: none;
					cursor: pointer;
				}
			}
			.navbar-nav > li > a{
				box-sizing: border-box;
				padding: 15px 15px;
				line-height: $docs-header-tool-height - 31;
				color: #fff;
				font-size: 16px;
				font-weight: 500;
				text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
			}
			.navbar-nav{
				> .active{
					> a, > a:hover, > a:focus{
						background: none;
						color: #fff;
						border-bottom: 1px solid #fff;
					}
				}
				> .open{
					> a, > a:hover, > a:focus{
						background: none;
						color: #fff;
					}
				}
			}
		}

		&.reflection{
			/* Rectangle 1: */
			background: #fff;
			border-bottom: 1px solid #D3D3D3;
			box-shadow: 0px 0px 5px #D3D3D3;

			$font-color: #575757;
			$font-color-hover: darken(#6FAFE1, 10%);
			.navbar {
				.navbar-brand{
					color: $font-color-hover;
					text-shadow: none;
					.small{
						color: $font-color;
					}
				}
				.mobile-menu{
					color: $font-color;
					text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
				}
				.navbar-nav > li > a{
					color: $font-color;
					text-shadow: none;
					&:hover, &:focus{
						color: $font-color-hover;
					}
				}
				.navbar-nav{
					> .active{
						> a, > a:hover, > a:focus{
							color: $font-color-hover;
							border-bottom: 1px solid $font-color-hover;
						}
					}
					> .open{
						> a, > a:hover, > a:focus{
							color: $font-color-hover;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $break-mobilewide-width) {
	.docs-header{
		position: absolute;
		.docs-header-tool {
			.navbar {
				max-width: $break-mobilewide-width;
			}
		}
	}
}