.docs-body {
	z-index: $zindex-body;
	position: relative;
	margin-top: $docs-visual-height;
	background: #fff;

	.wrapper {
		box-sizing: border-box;
		max-width: $break-desktop-width;
		margin: 0 auto;
		padding: 20px 5px;
	}

	.ax5docs-section {
		margin: 2em 0;
	}

}

&.style-sub {
	.docs-body {
		margin-top: $docs-visual-sm-height;
	}
}