@for $i from 1 through 10 {
	.DH#{$i} {
		line-height: 0px;
		height: #{$i}px;
	}
	.DH#{$i*10} {
		line-height: 0px;
		height: #{$i*10}px;
	}
}

pre.prettyprint{
	font-size: 13px;
	margin: 1em 0;
}
pre.lang-sh{
	font-size: 15px;
}