//== modal
$ax5modal-z-index: 2000 !default;
$ax5modal-box-model: border-box !default;
$ax5modal-bg: $panel-bg !default;
$ax5modal-border: 1px solid $panel-inner-border !default;
$ax5modal-box-shaodw: 0px 0px 5px 0px rgba(0, 0, 0, 0.60) !default;
$ax5modal-body-padding: 0px !default;
$ax5modal-border-radius: $panel-border-radius !default;
$ax5modal-easing-time-open: 0.3s !default;
$ax5modal-easing-time-close: 0.3s !default;