<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>ax5ui / ax5core : ${data.pageTitle}</title>

	<!-- _assets -->
	<script type="text/javascript" src="../../assets/lib/jquery/jquery.min.js"></script>


	<script src="../../assets/lib/prettify/prettify.js"></script>
	<script src="../../assets/lib/prettify/lang-css.js"></script>
	<link rel="stylesheet" type="text/css" href="../../assets/lib/prettify/skins/github.css"/>
	<script type="text/javascript">
		$(document.body).ready(function() {
			if (window["prettyPrint"]) window["prettyPrint"]();
		});
	</script>

	<script type="text/javascript" src="../../assets/lib/ax5core/ax5core.js"></script>

	<!-- demo & menus -->
	<link rel="stylesheet" type="text/css" href="../../assets/css/docs.css"/>
	<script type="text/javascript" src="../../assets/js/ax5core-menus.js"></script>
	<script type="text/javascript" src="../../assets/js/docs.js"></script>

	<layout-placeholder name="head-css"/>
	<layout-placeholder name="head-js"/>
</head>
<body>
<div class="docs">
	<div class="docs-header">
		<div class="docs-header-tool">

		</div>
		<div class="docs-header-visual">

		</div>
	</div>
	<div class="docs-nav" id="docs-menu-print-target"></div>
	<div class="docs-body">
		<layout-placeholder name="body"/>
	</div>
	<div class="docs-foot">

	</div>
</div>
<layout-placeholder name="page-js"/>
</body>
</html>