@mixin default-flex-box() {
    position: relative;
    @include display(flex);
    @include flex(1);
    min-width: 0;
    min-height: 0;
    overflow: hidden;
}

@include keyframes(ax-docker-popup) {
    0% {
        @include transform(scale(1, 0));
    }
    100% {
        @include transform(scale(1, 1));
    }
}

[data-ax5docker] {
    @include default-flex-box();
    * {
        box-sizing: border-box;
    }

    [data-ax5docker-panes] {
        @include default-flex-box();

        [data-ax5docker-pane] {
            @include default-flex-box();
            @include flex-direction(column);
            ul[data-ax5docker-pane-tabs] {
                @include default-flex-box();
                @include flex(none);
                position: relative;
                padding: 0;
                margin: 0;

                overflow-x: auto;
                overflow-y: hidden;
                background: $ax5docker-tab-bg;
                list-style: none;
                height: $ax5docker-tab-height;
                line-height: $ax5docker-tab-height;
                -webkit-user-select: none;

                &::-webkit-scrollbar {
                    display: none;
                }
                &:before {
                    content: ' ';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    border-bottom: 1px solid $ax5docker-border-color;
                }
                li {
                    position: relative;
                    display: inline-block;
                    //@include flex(1);

                    list-style: none;
                    background: $ax5docker-tab-item-bg;
                    //max-width: 10em;
                    min-width: 6em;
                    height: $ax5docker-tab-height;
                    border-left: 1px solid $ax5docker-border-color;
                    border-right: 1px solid $ax5docker-border-color;

                    -webkit-user-drag: element;
                    -webkit-user-select: none;

                    @include transition(max-width 0.25s ease-in-out);

                    .title {
                        text-align: center;
                        margin: 0 1em;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        //margin-right: $ax5docker-tab-height;
                    }
                    .close-icon {
                        position: absolute;
                        top: ($ax5docker-tab-height - ($ax5docker-tab-height / 1.5)) / 2;
                        right: ($ax5docker-tab-height - ($ax5docker-tab-height / 1.5)) / 2;
                        z-index: 2;
                        width: $ax5docker-tab-height / 1.5;
                        height: $ax5docker-tab-height / 1.5;
                        line-height: $ax5docker-tab-height / 1.5;
                        overflow: hidden;
                        font-size: $ax5docker-tab-height / 2;
                        text-align: center;
                        border-radius: 3px;
                        @include transform(scale(0));
                        @include transition(transform 0.08s);
                        &:hover {
                            background: #000;
                            color: #fff;
                        }
                        * {
                            height: $ax5docker-tab-height / 1.5;
                            line-height: $ax5docker-tab-height / 1.5;
                        }
                    }

                    &:before {
                        content: ' ';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        border-top: 1px solid $ax5docker-border-color;
                    }

                    &.active {
                        background: $ax5docker-tab-active-item-bg;
                    }
                    &:hover {
                        .close-icon {
                            @include transform(scale(1));
                        }
                    }

                    &:last-child {

                    }
                }

                &:after {
                    content: ' ';
                    position: relative;
                    display: inline-block;
                    list-style: none;
                    min-width: $ax5docker-tab-height;
                    height: $ax5docker-tab-height;
                }

            }
            [data-ax5docker-pane-tabs-more] {
                position: absolute;
                right: 0;
                top: 0;
                min-width: $ax5docker-tab-height;
                height: $ax5docker-tab-height;
                line-height: $ax5docker-tab-height;
                text-align: center;
                background: $ax5docker-tab-active-item-bg;
                border-left: 1px solid $ax5docker-border-color;
                border-right: 1px solid $ax5docker-border-color;
                border-top: 1px solid $ax5docker-border-color;
                cursor: pointer;
                display: none;
            }

            [data-ax5docker-pane-item-views] {
                @include default-flex-box();

                border-left: 1px solid $ax5docker-border-color;
                border-right: 1px solid $ax5docker-border-color;
                border-bottom: 1px solid $ax5docker-border-color;

                [data-ax5docker-pane-item] {
                    display: none;
                    background: $ax5docker-pane-item-bg;
                    position: relative;
                    &.active {
                        display: flex;
                        @include flex(1);
                    }

                    &[data-dropper] {
                        &:before {
                            transition: all 0.3s;
                            content: ' ';
                            position: absolute;
                            display: block;
                            background: #000000;
                            opacity: 0.3;
                        }
                    }
                    &[data-dropper="left"] {
                        &:before {
                            left: 0;
                            top: 0;
                            height: 100%;
                            width: 50%;
                        }
                    }
                    &[data-dropper="right"] {
                        &:before {
                            left: 50%;
                            top: 0;
                            height: 100%;
                            width: 50%;
                        }
                    }
                    &[data-dropper="top"] {
                        &:before {
                            left: 0;
                            top: 0;
                            height: 50%;
                            width: 100%;
                        }
                    }
                    &[data-dropper="bottom"] {
                        &:before {
                            left: 0;
                            top: 50%;
                            height: 50%;
                            width: 100%;
                        }
                    }
                    &[data-dropper="center"] {
                        &:before {
                            left: 0;
                            top: 0;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }

            &.tabs-scrolled {
                [data-ax5docker-pane-tabs-more] {
                    display: block;
                    @include animation(ax-docker-popup $ax5docker-easing-time-open $ease-in-out-cubic);
                    transform-origin: 0 100%;
                }
            }

        }
        [data-ax5docker-resize-handle] {
            position: relative;
            width: initial;
            height: initial;
            background: $ax5docker-tab-bg;
            &:before {
                content: "";
                position: absolute;
                z-index: 3;
            }
        }

        [data-ax5docker-pane-axis] {
            @include default-flex-box();
            &[data-ax5docker-pane-axis="row"] {
                @include flex-direction(row);
                > [data-ax5docker-resize-handle] {
                    width: 2px;
                    &:before {
                        width: 8px;
                        left: -4px;
                        top: 0;
                        bottom: 0;
                        cursor: col-resize;
                    }
                }

                [data-ax5docker-pane] {
                    &:not(:last-child) {
                        [data-ax5docker-pane-item-views] {
                            border-right: 1px solid $ax5docker-border-color;
                        }
                    }
                }
            }
            &[data-ax5docker-pane-axis="column"] {
                @include flex-direction(column);
                > [data-ax5docker-resize-handle] {
                    height: 2px;
                    &:before {
                        height: 8px;
                        top: -4px;
                        left: 0;
                        right: 0;
                        cursor: row-resize;
                    }
                }

                [data-ax5docker-pane] {
                    &:not(:last-child) {
                        [data-ax5docker-pane-item-views] {
                            border-bottom: 1px solid $ax5docker-border-color;
                        }
                    }
                }

            }
        }

    }
    [data-ax5docker-drager] {
        display: block;
        position: absolute;
        background: #000;
        opacity: 0.5;
    }
}