
$ax5docker-bg: $panel-bg !default;
$ax5docker-inner-border: 1px solid !default;
$ax5docker-inner-border-color: $panel-inner-border !default;
$ax5docker-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.175) !default;
$ax5docker-border-radius: 5px !default;

$ax5docker-body-padding: 10px !default;
$ax5docker-heading-padding: $panel-heading-padding !default;

$ax5docker-easing-time-open: 0.1s !default;
$ax5docker-easing-time-close: 0.1s !default;