//========= ax5docker
$ax5docker-bg: $panel-bg !default;
$ax5docker-border-color: #C9C9C9 !default;
$ax5docker-tab-bg: #ECECEC !default;
$ax5docker-tab-item-bg: #D4D4D4 !default;
$ax5docker-tab-item-radius: 0 !default;
$ax5docker-pane-item-bg: #FFFFFF !default;
$ax5docker-tab-active-item-bg: #FFFFFF !default;
$ax5docker-tab-item-dropper-color: #f9523b !default;
$ax5docker-tab-item-dropper-width: 3px;

$ax5docker-tab-height: 22px !default;
$ax5docker-tab-margin: 1px !default;


$ax5docker-easing-time-open: 0.1s !default;
$ax5docker-easing-time-close: 0.1s !default;
