$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         #616161 !default; // #337ab7
$brand-success:         #00C6AE !default;
$brand-info:            #44ADF9 !default;
$brand-fn1:            #6977CF !default;
$brand-fn2:            #485398 !default;
$brand-warning:         #FFB802 !default;
$brand-danger:          #E97426 !default;

$border-radius-base:        3px !default;
$border-radius-large:       5px !default;
$border-radius-small:       2px !default;


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;

//== Panels
//
//##

$panel-bg:                    #fff !default;
$panel-body-padding:          15px !default;
$panel-heading-padding:       10px 15px !default;
$panel-footer-padding:        $panel-heading-padding !default;
$panel-border-radius:         $border-radius-base !default;

//** Border color for elements within panels
$panel-inner-border:          #ddd !default;
$panel-footer-bg:             #f5f5f5 !default;

$panel-default-text:          $gray-dark !default;
$panel-default-border:        #ddd !default;
$panel-default-heading-bg:    #f5f5f5 !default;

$panel-primary-text:          #fff !default;
$panel-primary-border:        $brand-primary !default;
$panel-primary-heading-bg:    $brand-primary !default;

$panel-success-text:          $state-success-text !default;
$panel-success-border:        $state-success-border !default;
$panel-success-heading-bg:    $state-success-bg !default;

$panel-info-text:             $state-info-text !default;
$panel-info-border:           $state-info-border !default;
$panel-info-heading-bg:       $state-info-bg !default;

$panel-warning-text:          $state-warning-text !default;
$panel-warning-border:        $state-warning-border !default;
$panel-warning-heading-bg:    $state-warning-bg !default;

$panel-danger-text:           $state-danger-text !default;
$panel-danger-border:         $state-danger-border !default;
$panel-danger-heading-bg:     $state-danger-bg !default;


//==============
$ax5uploader-box-model: border-box !default;
$ax5uploader-z-index: 1000 !default;
$ax5uploader-bg: $panel-bg !default;
$ax5uploader-inner-border: 1px solid !default;
$ax5uploader-inner-border-color: $panel-inner-border !default;

$ax5uploader-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.175) !default;
$ax5uploader-border-radius: 5px !default;

$ax5uploader-body-padding: 10px !default;
$ax5uploader-heading-padding: $panel-heading-padding !default;
$ax5uploader-buttons-padding: 5px 0px 0px 0px !default;
$ax5uploader-button-padding: 3px 7px !default;
$ax5uploader-button-font-size: 0.8em !default;

$ax5uploader-content-border: 0px solid !default;
$ax5uploader-content-border-color: none !default;
$ax5uploader-content-border-radius: 0px !default;
$ax5uploader-content-padding: 0px !default;

$ax5uploader-easing-time-open: 0.1s !default;
$ax5uploader-easing-time-close: 0.1s !default;
$ax5uploader-arrow-size: 6px !default;
$ax5uploader-arrow-border-width: 1px !default;

$ax5uploader-uploaded-box-bg: #f3f3f3 !default;
$ax5uploader-uploaded-box-border: 1px solid #ccc !default;
$ax5uploader-uploaded-box-border-radius: 5px !default;
$ax5uploader-uploaded-box-margin: 10px 0 !default;
$ax5uploader-uploaded-box-padding: 7px !default;
$ax5uploader-uploaded-box-min-height: 100px !default;

$ax5uploader-uploaded-item-bg: #fff !default;
$ax5uploader-uploaded-item-color: $btn-default-color !default;
$ax5uploader-uploaded-item-border: 0px solid $btn-default-border !default;
$ax5uploader-uploaded-item-border-radius: $border-radius-base !default;
$ax5uploader-uploaded-item-padding: $padding-base-vertical $padding-base-horizontal !default;
$ax5uploader-uploaded-item-margin: 3px !default;
$ax5uploader-uploaded-item-cell-padding: 0 3px !default;
$ax5uploader-uploaded-item-cell-hover-color: $brand-primary !default;
$ax5uploader-uploaded-item-preview-width: 120px !default;
$ax5uploader-uploaded-item-preview-height: 120px !default;
$ax5uploader-uploaded-item-preview-cell-padding: 5px !default;

$ax5uploader-dropzone-bg: #f3f3f3 !default;
$ax5uploader-dropzone-border: 2px dashed #0087F7 !default;
$ax5uploader-dropzone-border-radius: 5px !default;
$ax5uploader-dropzone-margin: 10px 0 !default;
$ax5uploader-dropzone-padding: 7px !default;
$ax5uploader-dropzone-min-height: 100px !default;

$ax5uploader-dropzone-dragover-bg: #fff !default;
$ax5uploader-dropzone-dragover-border: 2px solid #0087F7 !default;


//** Border color for elements within dialog
$ax5uploader-default-text: $panel-default-text !default;
$ax5uploader-default-border-color: $panel-default-border !default;
$ax5uploader-default-heading-bg: $panel-default-heading-bg !default;

$ax5uploader-primary-text: $panel-primary-text !default;
$ax5uploader-primary-border-color: $panel-primary-border !default;
$ax5uploader-primary-heading-bg: $panel-primary-heading-bg !default;

$ax5uploader-success-text: $panel-success-text !default;
$ax5uploader-success-border-color: $panel-success-border !default;
$ax5uploader-success-heading-bg: $panel-success-heading-bg !default;

$ax5uploader-info-text: $panel-info-text !default;
$ax5uploader-info-border-color: $panel-info-border !default;
$ax5uploader-info-heading-bg: $panel-info-heading-bg !default;

$ax5uploader-warning-text: $panel-warning-text !default;
$ax5uploader-warning-border-color: $panel-warning-border !default;
$ax5uploader-warning-heading-bg: $panel-warning-heading-bg !default;

$ax5uploader-danger-text: $panel-danger-text !default;
$ax5uploader-danger-border-color: $panel-danger-border !default;
$ax5uploader-danger-heading-bg: $panel-danger-heading-bg !default;
