@mixin input-size($parent, $input-height) {
    select[multiple][data-ax5select]#{$parent} {

        height: $input-height;
    }
}

select[multiple][data-ax5select].form-control {
    height: $input-height-base;
}

@include input-size('.input-sm', $input-height-small);
@include input-size('.input-lg', $input-height-large);

.form-group-sm {
    select[multiple][data-ax5select].form-control {
        height: auto;
    }
}
.form-group-lg {
    select[multiple][data-ax5select].form-control {
        height: auto;
    }
}