/// override bootstrap.form-control
@mixin input-size($parent, $input-height) {
    [data-ax5select] select[multiple]#{$parent} {
        height: $input-height;
    }
}

[data-ax5select] select[multiple].form-control {
    height: $input-height-base;
}

@include input-size('.input-sm', $input-height-small);
@include input-size('.input-lg', $input-height-large);

.form-group-sm {
    [data-ax5select] select[multiple].form-control {
        height: auto;
    }
}
.form-group-lg {
    [data-ax5select] select[multiple].form-control {
        height: auto;
    }
}

.form-inline{
    @media (min-width: $screen-sm-min) {
        // Inline-block all the things for "inline"
        [data-ax5select] {
            display: inline-block;
        }
    }
}

// select group
[data-ax5select]{
    position: relative;
}

/// select-display
.ax5-ui-select-display{
    position:absolute;

}

/// select-option-group
.ax5-ui-select-option-group{

}