/// override bootstrap.form-control
@mixin input-size($parent, $input-height) {
    [data-ax5select] select[multiple]#{$parent} {
        height: $input-height;
    }
}

[data-ax5select] select[multiple].form-control {
    height: $input-height-base;
}

@include input-size('.input-sm', $input-height-small);
@include input-size('.input-lg', $input-height-large);

.form-group-sm {
    [data-ax5select] select[multiple].form-control {
        height: $input-height-small;
    }
}

.form-group-lg {
    [data-ax5select] select[multiple].form-control {
        height: $input-height-large;
    }
}

.form-inline {
    @media (min-width: $screen-sm-min) {
        // Inline-block all the things for "inline"
        [data-ax5select] {
            display: inline-block;
        }
    }
}

// select group
[data-ax5select] {
    position: relative;
    select{
        opacity: 0;
    }
}

@mixin ax5-ui-select-display-theme($border-color, $font-color) {
    &:hover, &:active, &:focus {
        border-color: $border-color;
        color: $font-color;
        text-decoration: none;

        .ax5-ui-select-display-table {
            [data-ax5-select-display="label"] {

            }
            [data-ax5-select-display="addon"] {
                .addon-icon-closed {
                    .addon-icon-arrow {
                        border-top-color: $font-color;
                    }
                }
                .addon-icon-opened {
                    .addon-icon-arrow {
                        border-bottom-color: $font-color;
                    }
                }
            }
        }
    }
}

/// select-display
.ax5-ui-select-display {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 0px;

    .ax5-ui-select-display-table {
        width: 100%;
        height: 100%;
        display: table;
        table-layout: fixed;
        border-collapse: collapse;
        @include user-select(none);

        [data-ax5-select-display="label"] {
            display: table-cell;
            vertical-align: middle;
            padding: $ax5select-label-padding;
        }
        [data-ax5-select-display="addon"] {
            display: table-cell;
            vertical-align: middle;
            width: $ax5select-addon-icon-height * 2 + $ax5select-addon-icon-padding-right;
            text-align: center;
            &[data-ax5-select-opened="false"] {
                .addon-icon-closed {
                    display: block;
                }
                .addon-icon-opened {
                    display: none;
                }
            }
            &[data-ax5-select-opened="true"] {
                .addon-icon-closed {
                    display: none;
                }
                .addon-icon-opened {
                    display: block;
                }
            }
            .addon-icon-closed {
                text-align: left;
                line-height: ($ax5select-addon-icon-height * 1.414);
                .addon-icon-arrow {
                    content: '';
                    width: 0px;
                    height: 0px;
                    display: inline-block;
                    border-left: $ax5select-addon-icon-height solid transparent;
                    border-right: $ax5select-addon-icon-height solid transparent;
                    border-top: ($ax5select-addon-icon-height * 1.414) solid $ax5select-addon-icon-color;
                    background: transparent;
                    opacity: 1;
                }
            }
            .addon-icon-opened {
                text-align: left;
                .addon-icon-arrow {

                }
            }
        }
    }

    // themes
    $border-colors: (
            default: $ax5select-default-border-color,
            primary: $ax5select-primary-border-color,
            success: $ax5select-success-border-color,
            info: $ax5select-info-border-color,
            warning: $ax5select-warning-border-color,
            danger: $ax5select-danger-border-color
    );
    $font-colors: (
            default: $ax5select-default-font-color,
            primary: $ax5select-primary-font-color,
            success: $ax5select-success-font-color,
            info: $ax5select-info-font-color,
            warning: $ax5select-warning-font-color,
            danger: $ax5select-danger-font-color
    );

    @each $theme in $border-colors {
        &.#{nth($theme, 1)} {
            @include ax5-ui-select-display-theme(map_get($border-colors, nth($theme, 1)), map_get($font-colors, nth($theme, 1)));
        }
    }

}

/// select-option-group
.ax5-ui-select-option-group {

}