$ax5select-label-padding: 0px 7px;
$ax5select-addon-icon-height: 4.5px;
$ax5select-addon-icon-color: #444;
$ax5select-addon-icon-padding-right: 7px;

///== option group
$ax5select-option-group-z-index: 2000 !default;
$ax5select-option-group-box-model: border-box !default;
$ax5select-option-group-bg: lighten(#eee, 5%) !default;
$ax5select-option-group-inner-border: 1px solid !default;
$ax5select-option-group-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.175) !default;
$ax5select-option-group-border-radius: 5px !default;
$ax5select-option-group-body-padding: 0px !default;
$ax5select-option-group-heading-padding: $panel-heading-padding !default;
$ax5select-option-group-buttons-padding: 10px 0px 5px 0px !default;

$ax5select-option-group-easing-time-open: 0.1s !default;
$ax5select-option-group-easing-time-close: 0.1s !default;
$ax5select-option-group-arrow-size: 10px !default;
$ax5select-option-group-arrow-border-width: 1px !default;

$ax5select-option-item-padding: 5px 0px;
$ax5select-option-item-html-padding: 0px 5px;
$ax5select-option-item-font-size: 13px;
$ax5select-option-item-checkbox-width: 18px;
$ax5select-option-item-handle-width: 14px;

///~~ theme
$ax5select-default-fore-color: $gray;
$ax5select-default-back-color: #fff;
$ax5select-default-border-color: #ccc;
$ax5select-default-hover-type: darken, 10;

$ax5select-primary-fore-color: $brand-primary;
$ax5select-primary-back-color: $ax5select-option-group-bg;
$ax5select-primary-border-color: #ccc;
$ax5select-primary-hover-type: darken, 10;

$ax5select-success-fore-color: $brand-success;
$ax5select-success-back-color: $ax5select-option-group-bg;
$ax5select-success-border-color: #ccc;
$ax5select-success-hover-type: darken, 10;

$ax5select-info-fore-color: $brand-info;
$ax5select-info-back-color: $ax5select-option-group-bg;
$ax5select-info-border-color: #ccc;
$ax5select-info-hover-type: darken, 10;

$ax5select-warning-fore-color: $brand-warning;
$ax5select-warning-back-color: $ax5select-option-group-bg;
$ax5select-warning-border-color: #ccc;
$ax5select-warning-hover-type: darken, 10;

$ax5select-danger-fore-color: $brand-danger;
$ax5select-danger-back-color: $ax5select-option-group-bg;
$ax5select-danger-border-color: #ccc;
$ax5select-danger-hover-type: darken, 10;