$ax5select-label-padding: 0px 7px;
$ax5select-addon-icon-height: 5px;
$ax5select-addon-icon-color: #444;
$ax5select-addon-icon-padding-right: 7px;

///~~ theme
$ax5select-default-border-color: $gray-darker;
$ax5select-default-font-color: $gray-darker;

$ax5select-primary-border-color: $brand-primary;
$ax5select-primary-font-color: $brand-primary;

$ax5select-success-border-color: $brand-success;
$ax5select-success-font-color: $brand-success;

$ax5select-info-border-color: $brand-info;
$ax5select-info-font-color: $brand-info;

$ax5select-warning-border-color: $brand-warning;
$ax5select-warning-font-color: $brand-warning;

$ax5select-danger-border-color: $brand-danger;
$ax5select-danger-font-color: $brand-danger;