<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="shortcut icon" href="../../assets/ax5favicon.ico" type="image/x-icon" />
	<title>ax5ui - modal</title>

	<!-- _assets -->
	<script src="../../assets/lib/jquery/jquery.min.js"></script>
	<script src="../../assets/lib/prettify/prettify.js"></script>
	<script src="../../assets/lib/prettify/lang-css.js"></script>
	<link rel="stylesheet" type="text/css" href="../../assets/lib/prettify/skins/github.css" />

	<script type="text/javascript">
		$(document.body).ready(function() {
			if (window["prettyPrint"]) window["prettyPrint"]();
		});
	</script>

	<script src="../../assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="../../assets/lib/ax5core/dist/ax5core.min.js"></script>

	<!-- demo & menus -->
	<link rel="stylesheet" type="text/css" href="../../assets/css/docs.css"/>
	<script src="../../assets/js/docs.js"></script>

<layout-placeholder name="head-css"/>
<layout-placeholder name="head-js"/>
</head>
<body>
	<div class="docs modal-page">
		<layout-placeholder name="body"/>
	</div>
<layout-placeholder name="page-js"/>
</body>
</html>