<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>ax5ui : ${data.pageTitle}</title>

	<!-- _assets -->
	<script type="text/javascript" src="../assets/lib/jquery/jquery.min.js"></script>

	<script src="../assets/lib/prettify/prettify.js"></script>
	<script src="../assets/lib/prettify/lang-css.js"></script>
	<link rel="stylesheet" type="text/css" href="../assets/lib/prettify/skins/github.css"/>
	<script type="text/javascript">
		$(document.body).ready(function() {
			if (window["prettyPrint"]) window["prettyPrint"]();
		});
	</script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
	        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	        crossorigin="anonymous"></script>

	<script type="text/javascript" src="../assets/lib/ax5core/ax5core.js"></script>

	<!-- demo & menus -->
	<link rel="stylesheet" type="text/css" href="../assets/css/docs.css"/>
	<script type="text/javascript" src="../assets/js/ax5core-menus.js"></script>
	<script type="text/javascript" src="../assets/js/docs.js"></script>

	<layout-placeholder name="head-css"/>
	<layout-placeholder name="head-js"/>
</head>
<body>
<div class="docs ${data.bodyStyle} {?data.withInlineMenu;with-inline-menu} {?data.withMenu;with-menu}">
	<div class="docs-header">
		<div class="docs-header-tool" id="docs-header-tool">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<span class="navbar-brand">
							<a href="/">
							<i class="icon-ax5"></i>UI</a>
						</span>
						<a class="visible-xs-inline-block mobile-menu">
							<i class="icon-menu"></i>
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse">

						<ul class="nav navbar-nav" id="docs-menu-print-target">
							<!-- file : document root, hrefRoot : link root -->
							<ax5docs-get-list projectName="${data.projectName}" activeId="${data.pageId}"></ax5docs-get-list>
						</ul>

						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
								   aria-haspopup="true" aria-expanded="false">AX5UI <span class="caret"></span></a>
								<ax5ui-project-list></ax5ui-project-list>
							</li>
						</ul>

					</div>
					<!-- /.navbar-collapse -->

				</div>
				<!-- /.container-fluid -->
			</nav>
		</div>
	</div>
	<div class="docs-visual">
		<div class="pattern"></div>
		<layout-placeholder name="visual"/>
	</div>
	<div class="docs-body" id="docs-body">
		<div class="wrapper">
		<if test="data.withInlineMenu">
			<div class="row">
				<div class="col-md-3 hidden-print hidden-xs hidden-sm">
					<div class="docs-menu" id="docs-inline-menu"></div>
				</div>
				<div class="col-md-9">
					<layout-placeholder name="body"/>
				</div>
			</div>
		</if>
		<else-if test="data.withMenu">
			<div class="row">
				<div class="col-md-3 hidden-print hidden-xs hidden-sm">
					<div class="docs-menu" id="docs-menu"></div>
				</div>
				<div class="col-md-9">
					<layout-placeholder name="body"/>
				</div>
			</div>
		</else-if>
		<else>
			<div class="row">
				<div class="col-md-12">
					<layout-placeholder name="body"/>
				</div>
			</div>
		</else>
		</div>
	</div>
	<div class="docs-foot" id="docs-foot">
		<div class="background-type background-type-0">
			<div class="wrapper row">
				<div class="col-md-6">
					<h3>
						<a href="https://github.com/ax5ui">
							<i class="icon-github"></i> Get ax5core</a>
					</h3>
					<p>
						"ax5core" source code is being released on Github. When you click the link to move to Github
						repository.
						Feel the joy of contributing to open source. We are always waiting for your action.
					</p>
				</div>
				<div class="col-md-6">
					<h3>
						<a href="/">
							<i class="icon-axisj"></i> AX5UI Package</a>
					</h3>
					<p>
						'AX5UI' can be used with Bootstrap theme. The development of the distribution of the various UI plug-in.
						When you click the link to move to AX5UI index page.
					</p>
				</div>
			</div>
		</div>
		<div class="background-type background-type-1">
			<div class="wrapper">
				<dl class="dl-horizontal">
					<dt>Code licensed</dt>
					<dd>MIT</dd>
					<dt>Mantained by</dt>
					<dd>Thomas Jang</dd>
					<dt>Templete design by</dt>
					<dd>Jorwrney Kim</dd>

					<dt>Copyright</dt>
					<dd>Opensource Group AXISJ -
						<a href="https://www.axisj.com">www.axisj.com</a></dd>
				</dl>
			</div>
		</div>
	</div>
</div>
<layout-placeholder name="page-js"/>
<ga-code projectName="${data.projectName}" activeId="${data.pageId}"></ga-code>

</body>
</html>