html,
body {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  height: 100%;
}
h1 {
  font-size: 2em;
}
.demo-menu {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 100%;
  overflow: auto;
}
.demo-menu ul {
  margin: 0px;
  padding: 0px;
}
.demo-menu ul li {
  font-size: 14px;
  list-style: none;
  margin: 0px;
}
.demo-menu ul li a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #eeeeee ;
  text-decoration: none;
  color: #444;
}
.demo-menu ul li a:hover {
  background: #eee;
}
.demo-body {
  padding: 10px 10px 10px 220px;
}
